*
{
    margin: 0px;
    padding: 0px;
}
#main_body {
    height:1020px;
width:710px;
font-family:cambria;
}
.line
{
    width: 100%;
    border: 1px solid black;
}

#student_card {
    width: 100%;
    border: 2px solid #000000;
    height: 500px;
   
}

.clearfix {
    content: ' ';
    display: table;
    clear: both;
    height: 40px;
}


#van_card
{
    width: 100%;
    height: 495px;

    border: 2px solid #000000;        
}
.header {
    width: 100%;
    height: 112px;
    text-align: center;
}
.school_logo
{
    width: 18%;
    float: left;
    padding: 5px;
    height: 90px;
}
.school_logo img
{
    width: 126%;
    height: 90px;
}
.school_content
{
    width: 80%;
    float: left;
}
.header .school_name
{
    font-size: 30px;
    font-weight: 900;
}
.header .school_add
{
    font-size: 18px;
    font-weight: 600;
}

.student_detail {
    width: 100%;
    height: 190px;
}

.std_detail {
    width: 64%;
    float: left;
    padding: 5px
}
.std_detail table .data
{
    width: 100px
}
.std_img {
    width: 30%;
    height: 160px;
    float: right;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

#parent_detail {
    width: 98.5%;
    height: 184px;
    padding: 5px;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 1px;
    margin-top: 10px;
    margin-left: 15px;
    height: 172px;
    float: left;
    border:1px solid black;
    border-radius: 3px;
}
.card_img
{
    width: 100%;
    height: 133px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
